@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face{
    font-family: "PressStart2P";
    src: url(../font/PressStart2P.ttf)
}
/* font-family: 'Noto Sans KR', sans-serif; */

* {margin: 0; padding: 0;}

body{
    font-family: 'NanumSquare';
    -ms-overflow-style: none; /* 스크롤바 숨기기 */
}
::-webkit-scrollbar{display: none;} /* 스크롤바 숨기기 */

/* body::-webkit-scrollbar{width: 20px;}  
body::-webkit-scrollbar-thumb{
    background-color: #000; height:18%;
    background-clip: padding-box;
    border: 2.5px solid transparent;
} */ /* 스크롤바 스타일 변경 */

/* 초기화 */
ul{list-style: none;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{vertical-align: top;}
.clear::after {display: block; content: ''; clear: both;}

/* 드래그 효과*/
::selection{
    background-color: #013220;
    color:#fff;
}
.resp1 p::selection{
    background-color: #14008C;
    color:#fff;
}
.resp1 h5::selection{
    background-color: #14008C;
    color:#fff;
}
.resp2 p::selection{
    background-color: #E6000F;
    color:#fff;
}
.resp2 h5::selection{
    background-color: #E6000F;
    color:#fff;
}
.resp2 br::selection{
    background-color: #E6000F;
}
.stan1 p::selection{
    background-color: #000;
    color:#fff;
}
.stan1 h5::selection{
    background-color:#000;
    color:#fff;
}
.stan1 br::selection{
    background-color: #000;
}
.stan2 p::selection{
    background-color: #6ACAAE;
    color:#fff;
}
.stan2 br::selection{
    background-color: #6ACAAE;
}
.stan2 h5::selection{
    background-color: #6ACAAE;
    color:#fff;
}
.mob p::selection{
    background-color: #79E1EC;
    color:#fff;
}
.mob h5::selection{
    background-color: #79E1EC;
    color:#fff;
}